@media(max-width:1000px){

    .cards{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){

    .sidebar{
        width:100%;
        position:relative;
        min-height:auto;
    }

    .main{
        margin-left:0;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .table-container{
        overflow-x:auto;
    }

    table{
        min-width:700px;
    }
}
